codebase.md

core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

admin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
